In [1]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_theme(style = "darkgrid")

pd.set_option('display.max_colwidth', 100)  # Limit column width for better readability
pd.set_option('display.max_rows', None)  # Display all rows
pd.set_option('display.max_columns', None)  # Display all columns

file_path1 = (r'C:\Users\padhee.3\Downloads\Take Home Project\dict_data.json')

# Open the JSON file with the specified encoding
with open(file_path1, 'r', encoding='ISO-8859-1') as file:
    data = json.load(file)

# Display all key-value pairs
for key, value in data.items():
    print(f"Key: {key}, Value: {value}")

Key: introduction, Value: The challenge is to build a model that predicts at application time whether an applicant will become bad loan or not. The data consists of a set of variables that describe the requested loan and the applicant's credit attributes (annual income, debt-to-income ratio, number of credit inquiries in the last 6 months, etc.). These data are based on actual real-life loans obtained publicly with some modifications. We have split the data into two separate datasets, one for training the model and the other for validating it. We also provide a data dictionary, which contains brief descriptions of the meaning of each variable. Note: Not all of the variables are suitable for constructing the model. You will have to do some variable inspection and exploratory data analysis to determine which ones to use.
Key: task, Value: Use your own model to generte prediction for bad_flag as 0 or 1 in the testing dataset
Key: dictionary, Value: {'annual_inc': 'The annual income provided by the borrower during application.', 'bc_util': 'Ratio of total current balance to high credit/credit limit for all bankcard accounts.', 'desc': 'Loan description provided by the borrower', 'dti': 'A ratio calculated using the borrower\x92s total monthly debt payments on the total debt obligations, excluding mortgage and the requested loan, divided by the borrower\x92s self-reported monthly income.', 'emp_length': 'Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.', 'home_ownership': 'The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.', 'id': 'A unique assigned ID for the loan listing.', 'inq_last_6mths': 'The number of inquiries by creditors during the past 6 months.', 'int_rate': 'Interest Rate on the loan', 'loan_amnt': 'The listed amount of the loan applied for by the borrower.', 'member_id': 'A unique assigned Id for the borrower member.', 'mths_since_last_major_derog': 'Months since most recent 90-day or worse rating', 'mths_since_recent_inq': 'Months since most recent inquiry.', 'percent_bc_gt_75': 'Percentage of all bankcard accounts > 75% of limit.', 'purpose': 'A category provided by the borrower for the loan request.', 'revol_util': 'Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.', 'term': 'The number of payments on the loan. Values are in months and can be either 36 or 60.', 'tot_cur_bal': 'Total current balance of all accounts', 'tot_hi_cred_lim': 'Total high credit/credit limit', 'total_bc_limit': 'Total bankcard high credit/credit limit', 'application approved_flag': 'Indicates if the loan application is approved or not', 'internal_score': "An third party vendor's risk score generated when the application is made", 'bad_flag': 'Target variable, indicates if the loan is eventually bad or not'}

In [2]:

# Access the "introduction" and "task" keys
print("\nIntroduction:")
print(data["introduction"])

print("\nTask:")
print(data["task"])

Introduction:
The challenge is to build a model that predicts at application time whether an applicant will become bad loan or not. The data consists of a set of variables that describe the requested loan and the applicant's credit attributes (annual income, debt-to-income ratio, number of credit inquiries in the last 6 months, etc.). These data are based on actual real-life loans obtained publicly with some modifications. We have split the data into two separate datasets, one for training the model and the other for validating it. We also provide a data dictionary, which contains brief descriptions of the meaning of each variable. Note: Not all of the variables are suitable for constructing the model. You will have to do some variable inspection and exploratory data analysis to determine which ones to use.

Task:
Use your own model to generte prediction for bad_flag as 0 or 1 in the testing dataset

In [3]:
# Extract dictionary content for the data dictionary section
dictionary_data = data["dictionary"]

# Convert dictionary data into a pandas DataFrame
df_dict = pd.DataFrame(list(dictionary_data.items()), columns=["Variable", "Description"])

# Display the DataFrame
df_dict

,Variable,Description
0,annual_inc,The annual income provided by the borrower during application.
1,bc_util,Ratio of total current balance to high credit/credit limit for all bankcard accounts.
2,desc,Loan description provided by the borrower
3,dti,A ratio calculated using the borrowers total monthly debt payments on the total debt obligation...
4,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one yea...
5,home_ownership,"The home ownership status provided by the borrower during registration. Our values are: RENT, OW..."
6,id,A unique assigned ID for the loan listing.
7,inq_last_6mths,The number of inquiries by creditors during the past 6 months.
8,int_rate,Interest Rate on the loan
9,loan_amnt,The listed amount of the loan applied for by the borrower.
10,member_id,A unique assigned Id for the borrower member.
11,mths_since_last_major_derog,Months since most recent 90-day or worse rating
12,mths_since_recent_inq,Months since most recent inquiry.
13,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of limit.
14,purpose,A category provided by the borrower for the loan request.
15,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all a..."
16,term,The number of payments on the loan. Values are in months and can be either 36 or 60.
17,tot_cur_bal,Total current balance of all accounts
18,tot_hi_cred_lim,Total high credit/credit limit
19,total_bc_limit,Total bankcard high credit/credit limit
20,application approved_flag,Indicates if the loan application is approved or not
21,internal_score,An third party vendor's risk score generated when the application is made
22,bad_flag,"Target variable, indicates if the loan is eventually bad or not"

In [4]:
# File path to the dataset
file_path = (r'C:\Users\padhee.3\Downloads\Take Home Project\training_loan_data.csv')

# Load the dataset
df = pd.read_csv(file_path)

# Display the first few rows
df.head(2)

C:\Users\padhee.3\AppData\Local\Temp\ipykernel_20900\1902483098.py:5: DtypeWarning: Columns (0,1,2,7,10,11,12,13,14,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,Data derived from a public source,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,id,member_id,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,desc,purpose,percent_bc_gt_75,bc_util,dti,inq_last_6mths,mths_since_recent_inq,revol_util,total_bc_limit,mths_since_last_major_derog,tot_hi_cred_lim,tot_cur_bal,application_approved_flag,internal_score,bad_flag
1,10000001,11983056,7550,36 months,16.24%,3 years,RENT,28000,NaN,debt_consolidation,100,96,8.4,0,17,72%,4000,NaN,3828.953801,5759,1,99,0

In [5]:
# Load the dataset, skipping the first row and treating the second row as the header
df = pd.read_csv(file_path, skiprows=1)

# Display the first few rows
df.head(2)

,id,member_id,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,desc,purpose,percent_bc_gt_75,bc_util,dti,inq_last_6mths,mths_since_recent_inq,revol_util,total_bc_limit,mths_since_last_major_derog,tot_hi_cred_lim,tot_cur_bal,application_approved_flag,internal_score,bad_flag
0,10000001,11983056.0,7550,36 months,16.24%,3 years,RENT,28000.0,NaN,debt_consolidation,100.0,96.0,8.40,0.0,17.0,72%,4000.0,NaN,3828.953801,5759.0,1,99,0.0
1,10000002,12002921.0,27050,36 months,10.99%,10+ years,OWN,55000.0,Borrower added on 12/31/13 > Combining high interest credit cards to lower interest rate.<br>,debt_consolidation,25.0,53.9,22.87,0.0,8.0,61.20%,35700.0,NaN,34359.940730,114834.0,1,353,0.0

In [6]:
# Basic information about the dataset
print("Dataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199121 entries, 0 to 199120
Data columns (total 23 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           199121 non-null  int64
 1   member_id                    189457 non-null  float64
 2   loan_amnt                    199121 non-null  int64
 3   term                         189457 non-null  object
 4   int_rate                     189457 non-null  object
 5   emp_length                   181531 non-null  object
 6   home_ownership               189457 non-null  object
 7   annual_inc                   189457 non-null  float64
 8   desc                         82004 non-null   object
 9   purpose                      189457 non-null  object
 10  percent_bc_gt_75             180419 non-null  float64
 11  bc_util                      180333 non-null  float64
 12  dti                          189457 non-null  float64
 13  inq_last_6mths               189457 non-null  float64
 14  mths_since_recent_inq        161472 non-null  float64
 15  revol_util                   189330 non-null  object
 16  total_bc_limit               181962 non-null  float64
 17  mths_since_last_major_derog  32749 non-null   float64
 18  tot_hi_cred_lim              181962 non-null  float64
 19  tot_cur_bal                  161716 non-null  float64
 20  application_approved_flag    199121 non-null  int64
 21  internal_score               199121 non-null  int64
 22  bad_flag                     189457 non-null  float64
dtypes: float64(12), int64(4), object(7)
memory usage: 34.9+ MB

In [7]:
numerical_df = df.select_dtypes(include=['number'])
# Summary statistics for numerical features
print("\nDescriptive Statistics (Numerical Features):")
df.describe()

Descriptive Statistics (Numerical Features):

,id,member_id,loan_amnt,annual_inc,percent_bc_gt_75,bc_util,dti,inq_last_6mths,mths_since_recent_inq,total_bc_limit,mths_since_last_major_derog,tot_hi_cred_lim,tot_cur_bal,application_approved_flag,internal_score,bad_flag
count,1.991210e+05,1.894570e+05,199121.000000,1.894570e+05,180419.000000,180333.000000,189457.000000,189457.000000,161472.000000,181962.000000,32749.000000,181962.000000,1.617160e+05,199121.0,199121.000000,189457.000000
mean,1.009857e+07,5.929626e+06,14071.947334,7.224330e+04,53.575807,66.840867,17.061084,0.803549,6.993634,20239.424699,41.780054,20238.384308,1.373215e+05,1.0,183.967954,0.069293
std,5.704397e+04,3.339822e+06,8067.076636,5.180483e+04,34.153946,26.111490,7.596941,1.032936,5.879707,18879.795379,20.984599,18941.591779,1.507358e+05,0.0,104.858324,0.253952
min,1.000000e+07,1.515360e+05,1000.000000,4.800000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.0,14.000000,0.000000
25%,1.004958e+07,2.308792e+06,8000.000000,4.500000e+04,25.000000,49.500000,11.340000,0.000000,2.000000,7800.000000,25.000000,7834.720066,2.746575e+04,1.0,105.000000,0.000000
50%,1.009823e+07,6.060627e+06,12000.000000,6.200000e+04,50.000000,72.200000,16.780000,0.000000,6.000000,14700.000000,41.000000,14637.479485,8.076050e+04,1.0,157.000000,0.000000
75%,1.014801e+07,8.727745e+06,19600.000000,8.700000e+04,80.000000,89.000000,22.580000,1.000000,11.000000,26500.000000,58.000000,26397.825272,2.082122e+05,1.0,256.000000,0.000000
max,1.019779e+07,1.209899e+07,35000.000000,7.141778e+06,100.000000,339.600000,34.990000,8.000000,24.000000,522210.000000,165.000000,520643.298200,8.000078e+06,1.0,456.000000,1.000000

In [8]:
print(numerical_df.columns)

Index(['id', 'member_id', 'loan_amnt', 'annual_inc', 'percent_bc_gt_75',
       'bc_util', 'dti', 'inq_last_6mths', 'mths_since_recent_inq',
       'total_bc_limit', 'mths_since_last_major_derog', 'tot_hi_cred_lim',
       'tot_cur_bal', 'application_approved_flag', 'internal_score',
       'bad_flag'],
      dtype='object')

In [9]:
df["term"].value_counts()

term
36 months    144800
60 months     44657
Name: count, dtype: int64

In [10]:

# Clean 'years' column: Remove "years" and retain numbers
if 'emp_length' in df.columns:  # Replace 'years' with the actual column name
    df['emp_length'] = df['emp_length'].str.extract(r'(\d+)').astype(float)

# Clean percentage columns: Remove '%' and convert to decimal
percentage_columns = ['int_rate', 'revol_util']  # Replace with actual percentage column names
for col in percentage_columns:
    if col in df.columns:
        df[col] = df[col].str.replace('%', '', regex=True).astype(float) / 100

# Display cleaned dataset
print("Cleaned Columns:")
df.head(2)

Cleaned Columns:

,id,member_id,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,desc,purpose,percent_bc_gt_75,bc_util,dti,inq_last_6mths,mths_since_recent_inq,revol_util,total_bc_limit,mths_since_last_major_derog,tot_hi_cred_lim,tot_cur_bal,application_approved_flag,internal_score,bad_flag
0,10000001,11983056.0,7550,36 months,0.1624,3.0,RENT,28000.0,NaN,debt_consolidation,100.0,96.0,8.40,0.0,17.0,0.720,4000.0,NaN,3828.953801,5759.0,1,99,0.0
1,10000002,12002921.0,27050,36 months,0.1099,10.0,OWN,55000.0,Borrower added on 12/31/13 > Combining high interest credit cards to lower interest rate.<br>,debt_consolidation,25.0,53.9,22.87,0.0,8.0,0.612,35700.0,NaN,34359.940730,114834.0,1,353,0.0

In [11]:
print(f"\nDataset Shape: {df.shape}")

Dataset Shape: (199121, 23)

In [12]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
id                                  0
member_id                        9664
loan_amnt                           0
term                             9664
int_rate                         9664
emp_length                      17590
home_ownership                   9664
annual_inc                       9664
desc                           117117
purpose                          9664
percent_bc_gt_75                18702
bc_util                         18788
dti                              9664
inq_last_6mths                   9664
mths_since_recent_inq           37649
revol_util                       9791
total_bc_limit                  17159
mths_since_last_major_derog    166372
tot_hi_cred_lim                 17159
tot_cur_bal                     37405
application_approved_flag           0
internal_score                      0
bad_flag                         9664
dtype: int64

In [13]:
# Filter rows where 'member_id' is missing
missing_member_id = df[df['member_id'].isna()]
missing_member_id.head()

,id,member_id,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,desc,purpose,percent_bc_gt_75,bc_util,dti,inq_last_6mths,mths_since_recent_inq,revol_util,total_bc_limit,mths_since_last_major_derog,tot_hi_cred_lim,tot_cur_bal,application_approved_flag,internal_score,bad_flag
188123,10188124,NaN,15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,196,NaN
188124,10188125,NaN,9600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,126,NaN
188125,10188126,NaN,8000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,105,NaN
188126,10188127,NaN,11000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,144,NaN
188127,10188128,NaN,8000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,105,NaN

In [14]:
 # Count rows where 'member_id' is NaN and 'bad_flag' is also NaN
count_missing = df[df['member_id'].isna() & df['bad_flag'].isna()].shape[0]

# Print the result
print(f"Number of Rows where 'member_id' is NaN and 'bad_flag' is also NaN: {count_missing}")

Number of Rows where 'member_id' is NaN and 'bad_flag' is also NaN: 9664

In [15]:
# Create a copy of the DataFrame and delete rows where both 'member_id' and 'bad_flag' are NaN
df_1 = df.dropna(subset=['member_id', 'bad_flag'], how='all')

# Print the modified DataFrame
print("Modified DataFrame (after deletion):")
df_1.head(2)

Modified DataFrame (after deletion):

,id,member_id,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,desc,purpose,percent_bc_gt_75,bc_util,dti,inq_last_6mths,mths_since_recent_inq,revol_util,total_bc_limit,mths_since_last_major_derog,tot_hi_cred_lim,tot_cur_bal,application_approved_flag,internal_score,bad_flag
0,10000001,11983056.0,7550,36 months,0.1624,3.0,RENT,28000.0,NaN,debt_consolidation,100.0,96.0,8.40,0.0,17.0,0.720,4000.0,NaN,3828.953801,5759.0,1,99,0.0
1,10000002,12002921.0,27050,36 months,0.1099,10.0,OWN,55000.0,Borrower added on 12/31/13 > Combining high interest credit cards to lower interest rate.<br>,debt_consolidation,25.0,53.9,22.87,0.0,8.0,0.612,35700.0,NaN,34359.940730,114834.0,1,353,0.0